.dashboard{

padding:30px;

background:#F5F7FB;

min-height:100%;

}


.dashboard h1{

color:#1F2937;

margin-bottom:25px;

}


.dashboard-layout{

display:grid;

grid-template-columns: 2fr 1fr;

gap:25px;

}