/* ===========================
   POWER CONTAINER
=========================== */

.power-container{
    width:100%;
    padding:30px 40px;
    box-sizing:border-box;
}

/* ===========================
   TITLE
=========================== */

.title{

    text-align:center;
    margin-bottom:0px;

}

.title h1,
.title h2{

    font-size:30px;
    color:#1B4DB8;
    font-weight:700;
    margin:0;
    font-family:inherit;

}

.title p{

    color:#6B7280;
    margin-top:5px;

}

/* ===========================
   MAIN WRAPPER
=========================== */
.power-circle-wrapper{
    position:relative;
    width:820px;
    height:700px;
    margin:40px auto 80px;
}

/* ===========================
   CENTER CIRCLE
=========================== */

.outer-circle{

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    width:280px;

    height:280px;

    border:4px solid #2F80ED;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.inner-circle{

    width:230px;

    height:230px;

    background:white;

    border-radius:50%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    box-shadow:0 20px 60px rgba(0,0,0,.12);

}

.inner-circle h1{

    font-size:64px;

    color:#2F80ED;

    margin:0;

}

.inner-circle h3{

    margin-top:10px;

    color:#0F172A;

}

.inner-circle p{

    font-size:13px;

    color:#6B7280;

}

/* ===========================
   CARD
=========================== */

.card{

    position:absolute;

}

.capability-card{

    width:220px;

    padding:2px;

}

/*==================================
   ARCHITECTURE SECTION
===================================*/

.architecture-section{

    width:100%;
    margin:80px auto;
    text-align:center;

}

.architecture-card{

    width:100%;
    max-width:1200px;
    margin:auto;

    background:white;

    border-radius:22px;

    padding:30px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.architecture-image{

    width:100%;
    height:auto;

    display:block;

}

.tech-section{

    width:100%;
    margin:80px auto;
    text-align:center;

}

.tech-card{

    width:100%;
    max-width:1200px;
    margin:auto;

    background:white;

    border-radius:22px;

    padding:30px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.tech-image{

    width:100%;
    height:auto;

    display:block;

}
