.navbar{

    height:72px;

    flex-shrink:0;

    background:white;

    display:flex;

    justify-content:flex-end;

    align-items:center;

    padding:0 30px;

    border-bottom:1px solid #E5E7EB;

}
/* Right Side */

.navbar-right{

    display:flex;

    align-items:center;

    margin-left:auto;

    gap:22px;

}

/* Search */

.search-box{

    display:flex;

    align-items:center;

    gap:10px;

    width:280px;

    height:42px;

    padding:0 15px;

    background:#F5F7FB;

    border:1px solid #E5E7EB;

    border-radius:30px;

}

.search-box svg{

    color:#6B7280;

}

.search-box input{

    width:100%;

    border:none;

    outline:none;

    background:transparent;

    font-size:14px;

}

/* Notification */

.notification{

    position:relative;

    width:42px;

    height:42px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#F5F7FB;

    cursor:pointer;

    transition:.3s;

}

.notification:hover{

    background:#E7ECF5;

}

.notification svg{

    color:#374151;

}

.notification-dot{

    position:absolute;

    top:10px;

    right:10px;

    width:8px;

    height:8px;

    background:#EF4444;

    border-radius:50%;

}

/* User */

.user-profile{

    position:relative;

    width:42px;

    height:42px;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

}

.user-icon{

    color:#374151;

}

.user-name{

    position:absolute;

    top:30px;

    left:50%;

    transform:translateX(-50%);

    width:max-content;

    font-size:11px;

    font-weight:600;

    color:#374151;

    white-space:nowrap;

}