.health-card{


height:500px;

background:white;

border-radius:20px;

padding:25px;

box-shadow:0 10px 30px rgba(0,0,0,.08);


}


.health-card h2{

color:#1B4DB8;

margin-bottom:25px;

}


.health-item{


display:flex;

align-items:center;

gap:20px;

padding:20px;

background:#F5F7FB;

border-radius:15px;

margin-bottom:15px;


}


.health-item svg{

color:#1B4DB8;

}


.health-item p{

color:#6B7280;

font-size:14px;

}


.health-item h3{

margin-top:5px;

}